@model IEnumerable<Books>

<h2>Books</h2>
<table class="table">
    <tr>
       <th>ID</th>
       <th>Title</th>
       <th>Author</th>
       <th>Genre</th>
    </tr>

    @foreach (var books in Model)
    {
        <tr>
            <td><a href=/Books/ViewBook/@books.Id>@books.Id</a></td>
            <td>@books.Title</td>
            <td>@books.Author</td>
            <td>@books.Genre</td>
        </tr>
    }
</table>