@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>To the Local Library</h2>
    <p>To find out if a book is in stock please travel to the book webpage.</p>
    <img class="bookimage" src=~/css/book.png/>
    <h1>Thank You For Visiting!</h1>
</div>
