html {
  font-size: 14px;
  background-color: rosybrown;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rosybrown;
}
a{
    color:antiquewhite;
}
.btn-primary{
    background-color:antiquewhite;
    color:black;
    border-color:black;
}
.form-control{
    border-color:black;
    margin-bottom: 5px;
}
.bookimage{
    margin-top:1pc;
    margin-bottom:2pc;
    width: 850px;
    
}
p{
    font-size:larger;
}